@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html{
  scroll-behavior: smooth;
}

* {
  font-family: 'Titillium Web', sans-serif;
}

.top-hero .title {
  font-size: 130px;
}

.top-hero .subtitle {
  font-size: 80px;
}

.navbar-item {
  font-size: 20px
}

span {
  color: white;
}

.navbar-menu {
  background-color: rgba(0, 0, 0, 0.611);
  width: 100%;
}

.navbar-burger {
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.611);
}

.top-hero {
  background-image: url("../images/stars.jpg");
  background-size: cover;
}

.title, .subtitle, .navbar-item {
  color: white;
}

.about-me {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.intro-hero {
  background-color: #1f1f1f;
}

.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(40px);
}

.appear.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.headshot {
  height: 400px;
  width: 500px;
  object-fit: cover;
  border-radius: 5px;
}

#first-container {
  display: flex;
  justify-content: center;
}

.appear {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

.appear.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview:nth-child(3) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.item {
  background-color: pink;
  height: 100px;
  width: 100px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.about-me {
  background-color: #1f1f1f;
}

#article {
  padding: 20px;
}

#box {
  height: 100%;
}

#about-me-container {
  margin-top: 5rem;
}

.about-me-icon {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 21px;
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-weight: 600;
  color:blue;
}

.travel-img {
  height: 110px;
  width: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin: .3rem;
}

.music-player {
  margin-top: 3rem;
}




/* PORTFOLIO */

.portfolio {
  background-color: white;
}

#portfolio-title {
  font-size: 70px;
  color: #1f1f1f;
}

#portfolio-subtitle {
  font-size: 30px;
  color: #1f1f1f;
}

#portfolio-box {
  display: flex;
  cursor: pointer;
  justify-content: center;
  flex-wrap: wrap;
  transition: .2s;
  position: relative;
  top: 0;
}

#portfolio-box:hover, #portfolio-box:active {
  top: -10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.portfolio .hero {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#hero-1 {
  padding-top: 0px;
}

#hero-2, #hero-4 {
  background-color: #ebebeb;
}

.portfolio-image {
  border-radius: 5px;
  height: 250px;
  width: 430px;
  object-fit: cover;
  margin-right: 3rem;
}

.portfolio-text {
  width: 420px;
}

.portfolio-item-title {
  font-size: 40px;
  font-weight: bold;
}

.portfolio-item-description {
  font-size: 20px;
}



/* FOOTER */

.icons {
  display: flex;
  justify-content: center;
}

.social {
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.footer {
  height: 200px;
  background-color: #1f1f1f;
}

.footer-text {
  text-align: center;
  color: rgb(157, 157, 157);
  margin-top: 40px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  #first-container {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #page-title {
    font-size: 70px;
  }
  #subtitle {
    font-size: 30px;
  }
  #headshot-box {
    flex-wrap: wrap;
  }
  .portfolio-image {
    margin-right: 0px;
    height: 150px;
    width: 300px;
  }
  .portfolio-text {
    width: 300px;
  }
}